{% extends basePath %}

{% block body %}
  {% import _self as macros %}

  <div class="container container-90 mt-4 mb-4">
    <h2 class="text-center">Edition d'un rôle - {{ role.libelle }}</h2>

    <div class="card mt-2">
      <div class="card-body">
        <form action="{{ path('core_application_role_save', {id: role.id}) }}" method="post">
          <div class="row">
            <div class="col">
              <h4 class="text-center">Modules / Fonctions</h4>
              <p><i class="fa fa-info-circle fa-fw"></i>Gestion de la visibilité des modules, sous modules et fonctions associées.</p>

              <div class="btn-group w-100 mb-4" role="group">
                <button id="toutCocherModules" class="btn btn-success btn-sm" type="button">
                  <i class="fa fa-check-circle fa-fw"></i>Tout cocher
                </button>
                <button id="toutDecocherModules" class="btn btn-warning btn-sm" type="button">
                  <i class="fa fa-times-circle fa-fw"></i>Tout décocher
                </button>
              </div>

              {% if fonctions_without_module|length > 0 %}
                <h5 class="text-primary">
                  <b>Fonctions globales</b>
                </h5>
                <ul>
                  {% for fonction in fonctions_without_module %}
                    <li class="list-style-none">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" name="fonctions[]" value="{{ fonction.id }}" {% if role.canDo(fonction.code) %}checked{% endif %}>
                          <i class="text-info">{{ fonction.libelle }} (<i>fonction</i>)</i>
                        </label>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}

              <h5 class="text-primary">
                <b>Modules & sous-modules</b>
              </h5>
              {% for module in modules %}
                {% if module.parent is null %}
                  <ul class="ul-no-indent">
                    <li class="list-style-none">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" class="cbx-module" name="modules[]" value="{{ module.id }}" {% if role.canAccess(module.id) %}checked{% endif %}>
                          <b>{{ module.libelle }}</b>
                        </label>
                      </div>
                    </li>

                    {% if module.enfants is not empty %}
                      {% for sousModule in module.enfants %}
                        {{ _self.showSousModules(sousModule, role) }}
                      {% endfor %}
                    {% endif %}
                  </ul>
                {% endif %}
              {% endfor %}
            </div>
            <div class="col border-left border-dark">
              <h4 class="text-center">Notifications (messages oranges)</h4>
              <p><i class="fa fa-info-circle fa-fw"></i>Gestion de la visibilité des notifications</p>

              <div class="btn-group w-100 mb-4" role="group">
                <button id="toutCocherNotifications" class="btn btn-success btn-sm" type="button">
                  <i class="fa fa-check-circle fa-fw"></i>Tout cocher
                </button>
                <button id="toutDecocherNotifications" class="btn btn-warning btn-sm" type="button">
                  <i class="fa fa-times-circle fa-fw"></i>Tout décocher
                </button>
              </div>

              <h5 class="text-primary">
                <b>Types de notification</b>
              </h5>

              <ul>
                {% for notification in notifications %}
                  <li class="list-style-none">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="" name="notifications[]" value="{{ notification.id }}" {% if role.canSeeNotification(notification.code) %}checked{% endif %}>
                        {{ notification.libelle }}
                      </label>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-save fa-fw"></i>Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% macro showSousModules(module, role) %}
    <ul class="ul-no-indent">
      <li class="list-style-none">
        <div class="checkbox">
          <label>
            <input type="checkbox" class="cbx-module" name="modules[]" data-id="{{ module.id }}" data-parent-id="{{ module.parent.id }}" value="{{ module.id }}" {% if role.canAccess(module.id) %}checked{% endif %}>
            <b>{{ module.libelle }}</b>
          </label>
        </div>
      </li>

      {% if module.fonctions|length > 0 %}
        {% for fonction in module.fonctions %}
          <ul>
            <li class="list-style-none">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="fonctions[]" value="{{ fonction.id }}" {% if role.canDo(fonction.code) %}checked{% endif %}>
                  <i class="text-info">{{ fonction.libelle }} (<i>fonction</i>)</i>
                </label>
              </div>
            </li>
          </ul>
        {% endfor %}
      {% endif %}


      {% if module.enfants is not empty %}
        {% for sousModule in module.enfants %}
          {{ _self.showSousModules(sousModule, role) }}
        {% endfor %}
      {% endif %}
    </ul>
  {% endmacro %}

  <style>
    .list-style-none{
      list-style-type: none;
    }
  </style>

  <script>
    $("#toutCocherModules").click(function(){
      $( "input[name='modules[]']").prop('checked', true);
      $( "input[name='fonctions[]']").prop('checked', true);
    });

    $("#toutDecocherModules").click(function(){
      $( "input[name='modules[]']").prop('checked', false);
      $( "input[name='fonctions[]']").prop('checked', false);
    });

    $("#toutCocherNotifications").click(function(){
      $( "input[name='notifications[]']").prop('checked', true);
    });

    $("#toutDecocherNotifications").click(function(){
      $( "input[name='notifications[]']").prop('checked', false);
    });
  </script>
{% endblock %}