{% extends basePath %}

{% block body %}
  {% import _self as macros %}

  <div class="container container-90 mt-4 mb-4">
    <h2 class="text-center">Edition d'un rôle - {{ role.libelle }}</h2>

    <div class="card mt-2">
      <div class="card-body">
        <form action="{{ path('core_application_role_save_libelle', {id: role.id}) }}" method="post">
          <div class="form-group">
            <label for="libelle">Nom du rôle</label>
            <input type="text" class="form-control" id="libelle" name="libelle" value="{{ role.libelle }}">
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="par-defaut" name="par-defaut" {% if role.parDefaut %}checked{% endif %}>
            <label class="form-check-label" for="par-defaut">Définir ce rôle par défaut aux nouveaux utilisateurs</label>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>

        <hr>

        <form action="{{ path('core_application_role_save', {id: role.id}) }}" method="post">
          <div class="row">
            <div class="col">
              <h4 class="text-center">Modules / Fonctions</h4>
              <p><i class="fa fa-info-circle fa-fw"></i>Gestion de la visibilité des modules, sous modules et fonctions associées.</p>

              <h5>Légende :</h5>
              <div class="form-group">
                <label>
                  <input type="checkbox" checked disabled>
                  <b>Module visible et accessible</b>
                </label>
              </div>
              <div class="form-group">
                <label>
                  <input type="checkbox" disabled>
                  <b>Module non visible</b>
                </label>
              </div>
              <div class="form-group">
                <label>
                  <input type="checkbox" checked disabled>
                  <b style="color: lightgray">Module visible mais non accessible</b>
                </label>
              </div>

              <div class="btn-group w-100 mb-4" role="group">
                <button id="toutCocherModules" class="btn btn-success btn-sm" type="button">
                  <i class="fa fa-check-circle fa-fw"></i>Tout cocher
                </button>
                <button id="toutDecocherModules" class="btn btn-warning btn-sm" type="button">
                  <i class="fa fa-times-circle fa-fw"></i>Tout décocher
                </button>
              </div>

              {% if fonctions_without_module|length > 0 %}
                <h5 class="text-primary">
                  <b>Fonctions globales</b>
                </h5>
                <ul>
                  {% for fonction in fonctions_without_module %}
                    {% if not fonction.zeusOnly %}
                      <li class="list-style-none">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="fonctions[]" value="{{ fonction.id }}" {% if role.canDo(fonction.code) %}checked{% endif %}>
                            <i class="text-info">{{ fonction.libelle }} (<i>fonction</i>)</i>
                          </label>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}

              <h5 class="text-primary">
                <b>Modules & sous-modules</b>
              </h5>
              {% for module in modules %}
                {% if not module.zeusOnly %}
                  {% if module.parent is null %}
                    <ul class="ul-no-indent">
                      <li class="list-style-none">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" class="cbx-module" name="modules[]" data-id="{{ module.id }}" value="{{ module.id }}" {% if role.canSee(module.id) %}checked{% endif %}>
                            <b {% if not role.canAccess(module.id) and role.canSee(module.id) %}style="color: lightgray;"{% endif %}>{{ module.libelle }}</b> {% if module.typeApplication != 'module' %} <i>(Redirection SSO vers une autre application)</i> {% endif %}
                          </label>

                          {% if role.canSee(module.id) %}
                            <small>Traduction : <b class="text-primary">{{ role.getLibelleForModule(module.id) }}</b> (n°{{ role.getOrdreForModule(module.id) }})</small>
                          {% endif %}
                          <i class="fa fa-edit fa-fw text-primary edit-role-module"
                             data-role-id="{{ role.id }}" data-module-id="{{ module.id }}" style="cursor: pointer;"></i>
                        </div>

                      </li>

                      {% if module.enfants is not empty %}
                        {% for sousModule in module.enfants %}
                          {% if not sousModule.zeusOnly %}
                            {{ _self.showSousModules(sousModule, role) }}
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </ul>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
            <div class="col border-left border-dark">
              <h4 class="text-center">Notifications (messages oranges)</h4>
              <p><i class="fa fa-info-circle fa-fw"></i>Gestion de la visibilité des notifications</p>

              <div class="btn-group w-100 mb-4" role="group">
                <button id="toutCocherNotifications" class="btn btn-success btn-sm" type="button">
                  <i class="fa fa-check-circle fa-fw"></i>Tout cocher
                </button>
                <button id="toutDecocherNotifications" class="btn btn-warning btn-sm" type="button">
                  <i class="fa fa-times-circle fa-fw"></i>Tout décocher
                </button>
              </div>

              <h5 class="text-primary">
                <b>Types de notification</b>
              </h5>

              <ul>
                {% for notification in notifications %}
                  {% if not notification.zeusOnly %}
                    <li class="list-style-none">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" class="" name="notifications[]" value="{{ notification.id }}" {% if role.canSeeNotification(notification.code) %}checked{% endif %}>
                          {{ notification.libelle }}
                        </label>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-save fa-fw"></i>Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% macro showSousModules(module, role) %}
    <ul class="ul-no-indent">
      <li class="list-style-none">
        <div class="checkbox">
          <label>
            <input type="checkbox" class="cbx-module" name="modules[]" data-id="{{ module.id }}" data-parent-id="{{ module.parent.id }}" value="{{ module.id }}" {% if role.canSee(module.id) %}checked{% endif %}>
            <b {% if not role.canAccess(module.id) and role.canSee(module.id) %}style="color: lightgray;"{% endif %}>{{ module.libelle }}</b>
          </label>

          {% if role.canSee(module.id) %}
            <small>Traduction : <b class="text-primary">{{ role.getLibelleForModule(module.id) }}</b> (n°{{ role.getOrdreForModule(module.id) }})</small>
          {% endif %}
          <i class="fa fa-edit fa-fw text-primary edit-role-module"
             data-role-id="{{ role.id }}" data-module-id="{{ module.id }}" style="cursor: pointer;"></i>
        </div>
      </li>

      {% if module.fonctions|length > 0 %}
        {% for fonction in module.fonctions %}
          {% if not fonction.zeusOnly %}
            <ul>
              <li class="list-style-none">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="fonctions[]" value="{{ fonction.id }}" {% if role.canDo(fonction.code) %}checked{% endif %}>
                    <i class="text-info">{{ fonction.libelle }} (<i>fonction</i>)</i>
                  </label>
                </div>
              </li>
            </ul>
          {% endif %}
        {% endfor %}
      {% endif %}

      {% if module.enfants is not empty %}
        {% for sousModule in module.enfants %}
          {% if not sousModule.zeusOnly %}
            {{ _self.showSousModules(sousModule, role) }}
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  {% endmacro %}

  <div id="divModalEditRoleModule"></div>

  <style>
      .list-style-none{
          list-style-type: none;
      }
  </style>

  <script>
    $(".edit-role-module").click(function(){
      let roleId = $(this).data('role-id');
      let moduleId = $(this).data('module-id');

      let data = {role_id: roleId, module_id: moduleId};
      $.ajax({
        url: "{{ path('core_application_role_edit_role_module') }}",
        type: 'POST',
        data: data,
        success: function(data){
          $("#divModalEditRoleModule").html(data);
          $("#modalEditRoleModule").modal();
        },
        error: function(){
          alert('Une erreur est survenue. Veuillez réessayer plus tard.');
        }
      });
    });

    $("#toutCocherModules").click(function(){
      $( "input[name='modules[]']").prop('checked', true);
      $( "input[name='fonctions[]']").prop('checked', true);
    });

    $("#toutDecocherModules").click(function(){
      $( "input[name='modules[]']").prop('checked', false);
      $( "input[name='fonctions[]']").prop('checked', false);
    });

    $("#toutCocherNotifications").click(function(){
      $( "input[name='notifications[]']").prop('checked', true);
    });

    $("#toutDecocherNotifications").click(function(){
      $( "input[name='notifications[]']").prop('checked', false);
    });

    $(".cbx-module").click(function(){
      if ($(this).prop('checked')) {
        recursiveCheckParentIfNotChecked($(this));
      } else {
        recursiveUncheckChildrenIfChecked($(this));
      }
    });

    function recursiveCheckParentIfNotChecked(cbx){
      if (cbx.prop('checked')){
        // On coche les parents
        let parentId = cbx.data('parent-id');
        let parentCbx = $(".cbx-module[data-id="+parentId+"]")
        if (parentCbx.length > 0){
          if (!parentCbx.prop('checked')){
            parentCbx.prop('checked', true);
            recursiveCheckParentIfNotChecked(parentCbx);
          }
        }
      }
    }

    function recursiveUncheckChildrenIfChecked(cbx){
      if (!cbx.prop('checked')){
        // On coche les parents
        let id = cbx.data('id');
        $(".cbx-module[data-parent-id="+id+"]").each(function(){
          let cbxChild = $(this);
          if (cbxChild.prop('checked')){
            cbxChild.prop('checked', false);
            recursiveUncheckChildrenIfChecked(cbxChild);
          }
        });
      }
    }
  </script>
{% endblock %}
