<div class="app_list_container">
  <div class="app_list_my_apps">
    <h5>MES APPLICATIONS</h5>
    <div class="app_list">
      {% for type_app in types_application %}
        {% if type_app.apps|length > 0 and type_app.user_access %}
          <div class="app_detail_container display-apps {% if type_app.application_active %}app_active{% endif %}" data-type-app-code="{{ type_app.code }}">
            <img src="{{ type_app.logo_base }}" alt="logo_base">
            <div class="app_label">
              {% if type_app.application_active %}
                <span class="text-danger">Vous êtes ici !</span>
              {% endif %}
              <span class="{{ type_app.code }}_hover">{{ type_app.libelle }}</span>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="app_list_others_apps mt-2">
    <h5>AUTRES APPLICATIONS DISPONIBLES</h5>
    <div class="app_list">
      {% for type_app in types_application %}
        {% if type_app.apps|length == 0 or not type_app.user_access %}
          <div class="app_detail_container">
            <img src="{{ type_app.logo_base }}" alt="logo_base">
            <div class="app_label">
              <span class="{{ type_app.code }}_hover">{{ type_app.libelle }}</span>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div>
  {% for type_app in types_application %}
    <div id="app-display-{{ type_app.code }}" class="app-display-modal modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel">
              {{ type_app.libelle }} : Sélectionnez une application
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if type_app.apps|length > 0 and type_app.user_access %}
              {% for app in type_app.apps %}
                <div>
                  <a href="{{ app.url }}" target="_blank">{{ app.nom }}</a>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  {% endfor %}
</div>


<style>
  .app_list_container{
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  .app_list_container h5{
      font-size: 15px;
  }

  .app_list_my_apps{
      display: flex;
      flex-direction: column;
  }
  .app_list_others_apps{
      display: flex;
      flex-direction: column;
  }
  .app_detail_container{
      padding: 5px;
      display: flex;
      height: 60px;
      border: 1px solid black;
      background-color: #FFFFFF;
      border-radius: 5px;
      box-shadow: 2px 2px grey;
      transition: box-shadow 0.3s ease-in-out;
  }
  .app_detail_container img{
      width: 50px;
      flex: 1;
  }
  .app_detail_container div{
      display: flex;
      flex: 3;
      justify-content: center;
      align-items: center;
  }
  .app_list{
      background-color: #E8E8E8;
      border: 2px solid #0f6674;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding: 10px;
  }

  .app_label {
      display : flex;
      flex-direction: column;
      align-items: start !important;
      border-left: 1px solid grey;
      padding-left: 25px;
  }

  .app_active {
      background-color: #beefbe;
  }
  .app_detail_container:hover{
      box-shadow: 4px 4px grey;
      cursor: pointer;
  }

  {% for type_app in types_application %}
    .app_detail_container:hover .{{ type_app.code }}_hover {
        color: {{ type_app.color }}
    }
  {% endfor  %}

  .modal-body{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      padding: 10px;
  }

  .modal-body div{
      border: 1px solid grey;
      border-radius: 5px;
      box-shadow: 2px 2px grey;
      transition: box-shadow 0.3s ease-in-out;
  }

  .modal-body div:hover{
      box-shadow: 4px 4px grey;
  }

</style>

<script>
  $(".display-apps").click(function() {
    var key = "#app-display-"+$(this).data('type-app-code');
    $(key).modal();
    // $('#smsModal').modal();
  })
</script>
