<div class="cn-apps">
  {% for type_app in types_applications %}
    {% if type_app.visible_menu_apps and type_app.apps|length > 0 and type_app.user_access %}
      {% set app_url = '' %}
      {% for app in type_app.apps %}
        {% set app_url = app.url %}
      {% endfor %}

      <a href="{{ app_url }}" class="enabled {% if type_app.application_active %}vous-etes-ici{% endif %}">
        <div class="logo-cn" style="--type-application-bg-color: {{ type_app.color }};--type-application-bg-color-gradient: {{ type_app.color_gradient }};">
          <img src="{{ type_app.logo_base }}" alt="logo_base">
          {% if type_app.application_active %}
            <div class="cn-vous-etes-ici">
              ICI
            </div>
          {% endif %}
        </div>
        <div class="libelle-app">
          <div>
            {{ type_app.libelle_operationnel }}
          </div>
          {% if type_app.application_active %}
            <div class="libelle-vous-etes-ici">
              Vous êtes ici
            </div>
          {% endif %}
        </div>
      </a>
    {% endif %}
  {% endfor %}

  {% for type_app in types_applications %}
    {% if type_app.visible_menu_apps and type_app.apps|length > 0 and not type_app.user_access and not page_accueil_simplifiee %}
      <a href="#" class="disabled">
        <div class="logo-cn" style="--type-application-bg-color: {{ type_app.color }};--type-application-bg-color-gradient: {{ type_app.color_gradient }};">
          <img src="{{ type_app.logo_base }}" alt="logo_base">
        </div>
        <div class="libelle-app">
          {{ type_app.libelle_operationnel }}
        </div>
        <div class="cn-lock">
          <img class="img-lock" src="{{ asset("build/core-application/img/icon-lock.svg") }}" alt="lock">
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>

{% if not page_accueil_simplifiee %}
  <div class="cn-non-installees">
    <div class="header-non-installees">
      <div class="decoration">
      </div>
      <div>
        Non installées
      </div>
      <div class="decoration">
      </div>
    </div>

    <div class="cn-apps">
      {% for type_app in types_applications %}
        {% if type_app.visible_menu_apps and type_app.apps|length == 0 %}
          <a href="#">
            <div class="logo-cn" style="--type-application-bg-color: {{ type_app.color }};--type-application-bg-color-gradient: {{ type_app.color_gradient }};">
              <img src="{{ type_app.logo_base }}" alt="logo_base">
            </div>
            <div class="libelle-app">
              {{ type_app.libelle_court }}
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if app.user.utilisateurZeus %}
  <div class="d-flex align-items-center px-4 gap-4 mt-4 bg-light p-2 rounded">
    <i class="fa fa-bolt text-warning"></i>
    <div>
      <div>
        <a href="{{ path('core_application_applications_remove_cache') }}"><i class="fa fa-refresh fa-fw"></i>Recharger les apps</a>
      </div>
      <div class="fs-6 fw-lighter text-muted">
        <small>Administrateurs uniquement</small>
      </div>
    </div>
  </div>
{% endif %}