<div class="cn-apps">
  {% for type_app in typesApplication %}
    {% if type_app.visible_menu_apps and type_app.apps|length > 0 and type_app.user_access %}
      {% set app_url = '' %}
      {% for app in type_app.apps %}
        {% set app_url = app.url %}
      {% endfor %}

      <a href="{{ app_url }}" class="enabled">
        <div class="logo-cn" style="--type-application-bg-color: {{ type_app.color }};--type-application-bg-color-gradient: {{ type_app.color_gradient }};">
          <img src="{{ type_app.logo_base }}" alt="logo_base">
        </div>
        <div class="libelle-app">
          {{ type_app.libelle_operationnel }}
        </div>
      </a>
    {% endif %}
  {% endfor %}

  {% for type_app in typesApplication %}
    {% if type_app.visible_menu_apps and type_app.apps|length > 0 and not type_app.user_access and not app.user.role.canDo('page_accueil_simplifiee') %}
      <a href="#" class="disabled">
        <div class="logo-cn" style="--type-application-bg-color: {{ type_app.color }};--type-application-bg-color-gradient: {{ type_app.color_gradient }};">
          <img src="{{ type_app.logo_base }}" alt="logo_base">
        </div>
        <div class="libelle-app">
          {{ type_app.libelle_operationnel }}
        </div>
        <div class="cn-lock">
          <img class="img-lock" src="{{ asset("build/core-application/img/btn-lock.svg") }}" alt="lock">
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>

{% if not app.user.role.canDo('page_accueil_simplifiee') %}
  <div class="cn-non-installees">
    <div class="header-non-installees">
      <div class="decoration">
      </div>
      <div>
        Non installées
      </div>
      <div class="decoration">
      </div>
    </div>

    <div class="cn-apps">
      {% for type_app in typesApplication %}
        {% if type_app.visible_menu_apps and type_app.apps|length == 0 %}
          <a href="#">
            <div class="logo-cn" style="--type-application-bg-color: {{ type_app.color }};--type-application-bg-color-gradient: {{ type_app.color_gradient }};">
              <img src="{{ type_app.logo_base }}" alt="logo_base">
            </div>
            <div class="libelle-app">
              {{ type_app.libelle_court }}
            </div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}