<nav class="navbar navbar-expand-md" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" {% if isRouteExiste(getUrlHomepage()) %}href="{{ path(getUrlHomepage()) }}"{% endif %}>
      <img alt="{{ client }}" src="{{ asset(publicStorageDir ~ 'images/logo-client.png') }}" class="logo-client">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsHorizontalMenu" aria-controls="navbarsHorizontalMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsHorizontalMenu">
      {# PARTIE OPERATION (gauche) #}
      <ul class="navbar-nav me-auto">
        {% set modules = getTopLevelModules(app.user, false) %}
        {% for module in modules %}
          {% if module.type == 'module' %}
            <li class="nav-item">
              <a class="nav-link link-with-loader" {% if module.route != ""  %}href="{{ path(module.route) }}"
                  {% else %} href="{{ path('core_application_menu_get_first_sous_module_redirect', {id: module.id}) }}"{% endif %}>
                {{ module.libelle }}
              </a>
            </li>
          {% elseif module.type in ['dossier_locataire', 'portail_extranet', 'core', 'hqmc', 'quittance'] %}
            {% for app in module.apps %}
              {% if app.acces and app.url != ownUrl %}
                {% set dataApplication = getApplicationInformation(module.id, app.client_traitement) %}
                {% if dataApplication.urlSso is defined %}
                  <li class="nav-item active">
                    <div data-sso-method="{{dataApplication.urlSso}}" data-redirection-route="{{ module.redirection_route }}"
                         data-url="{{ path('zeus_user_get_data_for_redirect') }}"
                         class="nav-link changeApplication link-with-loader" style="cursor:pointer;">
                      {{ module.libelle }}
                    </div>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>

      {# PARTIE ADMINISTRATION (droite) #}
      <ul class="navbar-nav">
        {% set modules = getTopLevelModules(app.user, true) %}
        {% for module in modules %}
          {% if module.type == 'module' %}
            <li class="nav-item">
              <a class="nav-link link-with-loader" {% if module.route != ""  %}href="{{ path(module.route) }}"
                  {% else %} href="{{ path('core_application_menu_get_first_sous_module_redirect', {id: module.id}) }}"{% endif %}>
                {{ module.libelle }}
              </a>
            </li>
          {% elseif module.type in ['dossier_locataire', 'portail_extranet', 'core', 'hqmc', 'quittance'] %}
            {% for app in module.apps %}
              {% if app.acces and app.url != ownUrl %}
                {% set dataApplication = getApplicationInformation(module.id, app.client_traitement) %}
                {% if dataApplication.urlSso is defined %}
                  <li class="nav-item active">
                    <div data-sso-method="{{dataApplication.urlSso}}" data-redirection-route="{{ module.redirection_route }}"
                         data-url="{{ path('zeus_user_get_data_for_redirect') }}"
                         class="nav-link changeApplication link-with-loader" style="cursor:pointer;">
                      {{ module.libelle }}
                    </div>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>

      {# PARTIE USER (droite) #}
      <ul class="navbar-nav me-5">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownProfile" data-bs-toggle="dropdown" aria-expanded="false">
            {{ app.user.prenom }} {{ app.user.nom }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownProfile">
            {% if getUrlUpdatePassword() != "" %}
              <li>
                <a class="dropdown-item" href="{{ path(getUrlUpdatePassword()) }}">Modifier mon mot de passe</a>
              </li>
            {% endif %}
            {% if getUrlProfile() != "" %}
              <li>
                <a class="dropdown-item" href="{{ path(getUrlProfile()) }}">Profil</a>
              </li>
            {% endif %}
            {% if getUrlLogout() != "" %}
              <li>
                <a class="dropdown-item" href="{{ path(getUrlLogout()) }}">Déconnexion</a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>

<style>
  .navbar{
    background-color: #FAFBFC;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 1000;
  }
  
  .navbar-brand img{
    max-height: 50px;
  }

  .global-loader{
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-Medium, sans-serif;
    font-size: 18px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E5F1F5;
    opacity: .95;
  }
</style>
