<!-- Desktop Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom d-none d-lg-flex">
  <div class="brand-cn">
    <a class="navbar-brand" href="{% if isRouteExiste(getUrlHomepage()) %}{{ path(getUrlHomepage()) }}{% else %}/{% endif %}">
      <img alt="logo-client" src="{{ asset(publicStorageDir ~ 'images/logo-client.png') }}">
      <img class="logo-app" src="https://dashboard.imanaging-document.fr/build/img/types_applications/{{ coreApiTypeApplication }}.svg" alt="">
    </a>
  </div>

  <div class="menu-cn">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {# Récuperation de tous les modules de niveau 1 côté gauche #}
        {% set modules = getTopLevelModules(app.user, false) %}
        {% for module in modules %}
          <li class="nav-item {% if module.children|length > 0 %} dropdown {% endif %} {% if module.route == app.request.get('_route') %} active {% endif %}">
            <a {% if module.children|length > 0 %}href="#" class="nav-link main-menu-nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"{% else %} class="nav-link main-menu-nav-link" href="{% if module.route != "" %}{{ path(module.route) }}{% else %}#{% endif %}"{% endif %}>
              {{ module.libelle }}
            </a>
            {% if module.children|length > 0 %}
              <div class="dropdown-menu box-shadow-homepage {% if not module.has_child_with_children %}single-lvl{% else %}multi-lvl{% endif %}">
                <div class="cn-items">
                  {% for sousModule in module.children %}
                    {% if sousModule.route == '' %}
                      <div class="cn-last-menu">
                        <div class="cn-items-last">
                          <div class="item-cn sous-menu-title">{{ sousModule.libelle }}</div>
                          {% for sousSousModule in sousModule.children %}
                            {% if isRouteExiste(sousSousModule.route) %}
                              <div class="item-cn{% if sousSousModule.route == app.request.get('_route') %} active {% endif %}">
                                <a {% if sousSousModule.children|length > 0 %}href="#" class="dropdown-item dropdown-toggle"{% else %} href="{% if sousSousModule.route != "" %}{{ path(sousSousModule.route) }}{% else %}#{% endif %}" class="dropdown-item"{% endif %}>
                                  <div class="cn-icon">
                                    <i class="{{ sousSousModule.icon_classes }}"></i>
                                  </div>
                                  <div>
                                    {{ sousSousModule.libelle }}
                                  </div>
                                </a>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    {% elseif isRouteExiste(sousModule.route) %}
                      <div class="{% if sousModule.route == app.request.get('_route') %} active {% endif %}">
                        <a {% if sousModule.children|length > 0 %}href="#" class="dropdown-item dropdown-toggle"{% else %} href="{% if sousModule.route != "" %}{{ path(sousModule.route) }}{% else %}#{% endif %}" class="dropdown-item"{% endif %}>
                          <div class="cn-icon">
                            <i class="{{ sousModule.icon_classes }}"></i>
                          </div>
                          <div>
                            {{ sousModule.libelle }}
                          </div>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </li>
        {% endfor %}

        {# Récuperation de tous les modules de niveau 1 côté droit #}
        {% set modules = getTopLevelModules(app.user, true) %}
        {% for module in modules %}
          <li class="nav-item {% if module.children|length > 0 %} dropdown {% endif %} {% if module.route == app.request.get('_route') %} active {% endif %}">
            <a {% if module.children|length > 0 %}href="#" class="nav-link main-menu-nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside"{% else %} href="{% if module.route != "" %}{{ path(module.route) }}{% else %}#{% endif %}"{% endif %}>
              {{ module.libelle }}
            </a>
            {% if module.children|length > 0 %}
              <div class="dropdown-menu box-shadow-homepage {% if not module.has_child_with_children %}single-lvl{% else %}multi-lvl{% endif %}">
                <div class="cn-items">
                  {% for sousModule in module.children %}
                    {% if sousModule.route == '' %}
                      <div class="cn-last-menu">
                        <div class="cn-items-last">
                          <div class="item-cn sous-menu-title">{{ sousModule.libelle }}</div>
                          {% for sousSousModule in sousModule.children %}
                            {% if isRouteExiste(sousSousModule.route) %}
                              <div class="item-cn{% if sousSousModule.route == app.request.get('_route') %} active {% endif %}">
                                <a {% if sousSousModule.children|length > 0 %}href="#" class="dropdown-item dropdown-toggle"{% else %} href="{% if sousSousModule.route != "" %}{{ path(sousSousModule.route) }}{% else %}#{% endif %}" class="dropdown-item"{% endif %}>
                                  <div class="cn-icon">
                                    <i class="{{ sousSousModule.icon_classes }}"></i>
                                  </div>
                                  <div>
                                    {{ sousSousModule.libelle }}
                                  </div>
                                </a>
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    {% elseif isRouteExiste(sousModule.route) %}
                      <div class="{% if sousModule.route == app.request.get('_route') %} active {% endif %}">
                        <a {% if sousModule.children|length > 0 %}href="#" class="dropdown-item dropdown-toggle"{% else %} href="{% if sousModule.route != "" %}{{ path(sousModule.route) }}{% else %}#{% endif %}" class="dropdown-item"{% endif %}>
                          <div class="cn-icon">
                            <i class="{{ sousModule.icon_classes }}"></i>
                          </div>
                          <div>
                            {{ sousModule.libelle }}
                          </div>
                        </a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <div class="cn-menu-right">
        <div>
          <input type="text" class="inp-menu-search" placeholder="Recherche">
        </div>
        <div>
          <img class="btn-apps" src="{{ asset("build/core-application/img/btn-apps.svg") }}" alt="applications">
        </div>
        <div>
          <img class="pull-right gravatar-bordered" src="{{ gravatar(app.user.mail) }}" alt="gravatar" />
        </div>
        <div>
          {{ app.user.prenom }} {{ app.user.nom }}
        </div>
        <div>
          <a href="{{ path(getUrlLogout()) }}"><i class="fa fa-power-off"></i></a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Mobile Navbar -->
<nav class="navbar navbar-light fixed-top d-lg-none mobile-navbar"> <!-- Remplacé navbar-dark bg-dark par navbar-light -->
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="{% if isRouteExiste(getUrlHomepage()) %}{{ path(getUrlHomepage()) }}{% else %}/{% endif %}">
      <img src="{{ asset(publicStorageDir ~ 'images/logo-client.png') }}" alt="Logo" height="30">
      <img class="logo-app" src="https://dashboard.imanaging-document.fr/build/img/types_applications/{{ coreApiTypeApplication }}.svg" alt="" height="30">
    </a>

    <div class="d-flex gap-3">
      <!-- Bouton Search -->
      <div>
        <img class="btn-search" src="{{ asset("build/core-application/img/icon-search.svg") }}" alt="recherche" data-bs-toggle="offcanvas" data-bs-target="#mobileSearch" aria-controls="mobileSearch">
      </div>

      <!-- Bouton Apps -->
      <div>
        <img class="btn-apps" src="{{ asset("build/core-application/img/btn-apps.svg") }}" alt="applications">
      </div>

      <!-- Bouton Menu Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-controls="mobileMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>

<!-- Menu Mobile Full Page -->
<div class="offcanvas offcanvas-end w-100" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="mobileMenuLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mobile-menu-content">
      {% include '@ImanagingCoreApplication/Menu/menu-mobile.html.twig' %}
    </div>
  </div>
</div>

<!-- Menu Search Full Page -->
<div class="offcanvas offcanvas-end w-100" tabindex="-1" id="mobileSearch" aria-labelledby="mobileSearchLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="mobileMenuLabel">Recherche</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fermer"></button>
  </div>
  <div class="offcanvas-body">
    <div class="mobile-menu-content">
      <div class="cn-input-search">
        <input type="text" class="inp-menu-search" placeholder="Recherche">
      </div>
    </div>
  </div>
</div>

<div class="apps-sous-menu d-none">
</div>

<div class="search-result d-none">
</div>

{% if isConnectedAsOtherUser() %}
  <div class="connected-as-other-user">
    <i class="fa fa-exclamation-triangle fa-fw"></i>Vous êtes connecté dans la peau d'un autre utilisateur
    <span class="ml-2">(<a href="{{ path('hephaistos_logout_from_connected_as_core') }}">Se déconnecter</a>)</span>
  </div>
{% endif %}

<script>
  var searchRequest = null;

  $(".btn-apps").click(function(){
    $(".apps-sous-menu").toggleClass('d-none');
  });

  $(".inp-menu-search").keyup(function(e){
    if(e.key === "Escape") {
      $(this).val("");
      $(".search-result").addClass('d-none')
    }

    if ($(this).val().length > 1){
      if (searchRequest !== null){
        searchRequest.abort();
      }

      $(".search-result").removeClass('d-none').html('<div class="d-flex justify-content-center align-items-center"><i class="fa fa-spinner fa-spin fa-fw"></i><b>Recherche en cours ...</b></div>');

      var critere = $(this).val();
      searchRequest = $.ajax({
        url: "{{ path('hephaistos_global_search') }}",
        data: {critere: critere},
        type: 'POST',
        success: function(data){
          $(".search-result").html(data);
        },
        error: function(){
        }
      });
    } else {
      $(".search-result").addClass('d-none')
    }
  });

  $(document).ready(function(){
    $.ajax({
      url: '{{ path('core_application_applications_show_list') }}',
      type: 'GET',
      success: function(data){
        $('.apps-sous-menu').html(data);
      },
      error: function(data) {
        if (data.responseJSON !== undefined){
          $('.apps-sous-menu').html(data.responseJSON.error_message);
        } else {
          $('.apps-sous-menu').html('Impossible de récupérer les applications.');
        }
      }
    });
  });
</script>