{% extends basePath %}

{% block body %}
  <div class="container container-90 mt-4 mb-4">
    <h2 class="text-center">Interlocuteurs</h2>
    <div class="row">
      <div class="col-md-4">
        <table class="table table-bordered table-striped text-center">
          <thead>
          <tr>
            <th>Libelle</th>
          </tr>
          </thead>
          <tbody>
          {% for type in interlocuteurs_types %}
            <tr>
              <td class="clickable-type" data-id="{{ type.id }}">{{ type.libelle }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="list-interlocuteur" class="col-md-8">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h5 class="text-info">15 derniers historiques de synchronisation</h5>
        <table class="table table-bordered table-striped text-center">
          <thead>
          <tr>
            <th>Date demande</th>
            <th>Date lancement</th>
            <th>Date fin</th>
            <th>Durée</th>
            <th>Statut</th>
          </tr>
          </thead>
          <tbody>
          {% for historique in historiques_synchro %}
            <tr class="{% if historique.statut == 'termine' %}{% elseif historique.statut == 'en_erreur' %}bg-danger{% else %}bg-info{% endif %}"
            >
              <td>{{ historique.dateCreation|date('d/m/y H:i') }}</td>
              {% if historique.statut in ['en_erreur', 'termine', 'en_cours'] %}
                <td>{{ historique.dateLancement|date('d/m/y H:i') }}</td>
                {% if historique.statut in ['en_erreur', 'termine'] %}
                  <td>{{ historique.dateFin|date('d/m/y H:i') }}</td>
                  <td>{{ historique.duree|round }}s</td>
                  <td>{{ historique.statut }}</td>
                {% else %}
                  <td colspan="3">{{ historique.statut }}</td>
                {% endif %}
              {% else %}
                <td colspan="4">{{ historique.statut }}</td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <style>
      .clickable-type{
          cursor: pointer;
      }
      .clickable-type:hover{
          color: blue;
      }

  </style>

  <script>
    $('.clickable-type').click(function() {
      $("#list-interlocuteur").html('<i class="fa fa-spin fa-spinner fa-fw fa-lg"></i>');
      var idType =$(this).data('id');
      console.log(idType);
      var dataPost = {'id-type' : idType};
      $.ajax({
        url: "{{ path('core_application_interlocuteurs_show_list') }}",
        type: "POST",
        data: dataPost,
        success: function (data) {
          $("#list-interlocuteur").html(data);
        },
        error: function(){
          $("#list-interlocuteur").html("<h4>Echec de chargement de la liste</h4>");
        }
      })
    })

  </script>
{% endblock %}