{% extends basePath %}

{% block body %}
  <div class="container container-90 mt-4 mb-4">
    <h2 class="text-center">Liste des utilisateurs</h2>

{#    <div class="text-right">#}
{#      <a href="{{ path('hephaistos_administration_utilisateurs_synchroniser') }}" class="btn btn-primary">Synchroniser les utilisateurs</a>#}
{#    </div>#}

    <div class="card mt-2">
      <div class="card-body">
        <div class="container-fluid">
          <table class="table table-striped table-bordered text-center" id="table-utilisateurs">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>login</th>
              <th>Username</th>
              <th>Mail</th>
              <th>Role</th>
              <th>Utilisateur Zeus</th>
              <th>Utilisateur Core</th>
              <th>Actif</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for utilisateur in utilisateurs %}
              <tr data-utilisateur-id="{{ utilisateur.id }}">
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.login }}</td>
                <td>{{ utilisateur.username }}</td>
                <td>{{ utilisateur.mail }}</td>
                <td>{% if utilisateur.role != null %} {{ utilisateur.role.libelle }} {% endif %}</td>
                <td>
                  {% if utilisateur.utilisateurZeus %}
                    <span class="text-success">&check;</span>
                  {% else %}
                    <span class="text-danger">&times;</span>
                  {% endif %}
                </td>
                <td>
                  {% if utilisateur.utilisateurCore %}
                    <span class="text-success">&check;</span>
                  {% else %}
                    <span class="text-danger">&times;</span>
                  {% endif %}
                </td>
                <td>
                  {% if utilisateur.actif %}
                    <span class="text-success">&check;</span>
                  {% else %}
                    <span class="text-danger">&times;</span>
                  {% endif %}
                </td>
                <td>
                  {% if not utilisateur.utilisateurZeus %}
                    <a href="" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#table-utilisateurs").dataTable({})
    })
  </script>
{% endblock %}