{% extends basePath %}

{% block body %}
  <div class="container">
    <div class="card">
      <div class="card-body">
        <lottie-player class="ml-3" src="https://lottie.host/c5b347ba-b90c-413b-a526-8fd6bf56d635/YzDVcCYSjy.json" style="height: 200px;" speed="1" autoplay loop></lottie-player>

        <div class="text-right">
          <div class="btn-group">
            <a href="{{ path('core_application_user_add_page') }}" class="btn btn-success"><i class="fa fa-plus-circle fa-fw"></i>Nouvel utilisateur</a>
            <button id="btn-synchroniser-users" class="btn btn-primary"><i class="fa fa-refresh fa-fw"></i>Synchroniser les utilisateurs</button>
          </div>
        </div>

        <div id="loader-synchro" class="alert alert-primary d-none">
          <lottie-player class="ml-3" src="https://lottie.host/ecdb987c-0738-4e70-a324-dfbc5fdc0895/Ly9nmVlAZv.json" style="height: 100px;" speed="1" autoplay loop></lottie-player>
          <div class="text-center">
            Synchronisation en cours .. Merci de bien vouloir patienter
          </div>
        </div>

        <div id="resultat-synchro">
        </div>

        <h5>Liste des utilisateurs</h5>
        <table class="table table-striped table-bordered text-center" id="table-utilisateurs">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Login</th>
            <th>Mail</th>
            <th>Role</th>
            <th>Notifié</th>
            <th>Actif</th>
            <th>Dernière connexion</th>
          </tr>
          </thead>
          <tbody>
          {% for utilisateur in utilisateurs %}
            <tr data-utilisateur-id="{{ utilisateur.id }}">
              <td>{{ utilisateur.nom }}</td>
              <td>{{ utilisateur.prenom }}</td>
              <td><a href="{{ path('core_application_user_edit', {id: utilisateur.id}) }}">{{ utilisateur.login }}</a></td>
              <td>{{ utilisateur.mail }}</td>
              <td>
                {% if utilisateur.role is not null %}
                  {{ utilisateur.role.libelle }}
                {% endif %}
              </td>
              <td>
                {% if utilisateur.login in utilisateurs_notifications %}
                  <span class="text-success"><i class="fa fa-check-circle"></i></span>
                {% else %}
                  <span class="text-danger"><i class="fa fa-times-circle"></i></span>
                {% endif %}
              </td>
              <td>
                {% if utilisateur.actif %}
                  <span class="text-success"><i class="fa fa-check-circle"></i></span>
                {% else %}
                  <span class="text-danger"><i class="fa fa-times-circle"></i></span>
                {% endif %}
              </td>
              <td>
                {% if dernieres_connexions[utilisateur.login] is defined %}
                  {{ dernieres_connexions[utilisateur.login] }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#table-utilisateurs").dataTable({})
    })

    $("#btn-synchroniser-users").click(function(){
      $("#loader-synchro").removeClass('d-none');

      $.ajax({
        url: "{{ path('core_application_user_synchroniser') }}",
        type: 'GET',
        success: function(){
          $("#resultat-synchro").html('<div class="alert alert-success">Les utilisateurs ont été synchronisés avec succès</div>');
          toastr.success('Les utilisateurs ont été synchronisés avec succès');
          $("#loader-synchro").addClass('d-none');
        },
        error: function(){
          $("#resultat-synchro").html('<div class="alert alert-danger">Une erreur est survenue lors de la synchronisation des utilisateurs</div>');
          $("#loader-synchro").addClass('d-none');
        }
      });
    });
  </script>
{% endblock %}