<div class="modal fade" id="modalEditRoleModule" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier le module</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ path('core_application_role_save_role_module', {id: role_module.id}) }}" method="post">
          <div class="form-group">
            <label for="libelle">Nom du module</label>
            <input type="text" class="form-control" value="{{ role_module.libelle }}" id="libelle" name="libelle" disabled>
          </div>

          <div class="form-group">
            <label for="ordre">Ordre module</label>
            <input type="text" class="form-control" value="{{ role_module.ordre }}" id="ordre" name="ordre" disabled>
          </div>

          <div class="checkbox">
            <label for="acces">
              <input id="acces" type="checkbox" name="acces" {% if role_module.acces %}checked{% endif %} disabled>
              Accessible - Le module sera grisé si cette case n'est pas cochée
            </label>
          </div>

          {% if role_module.apps|length > 0 %}
            <table class="table table-bordered table-striped text-center">
              <thead>
                <tr>
                  <th>URL</th>
                  <th>Client traitement</th>
                  <th>Libelle</th>
                  <th>Acces</th>
                </tr>
              </thead>
              <tbody>
              {% for app in role_module.apps %}
                <tr>
                  <td>{{ app.url }}</td>
                  <td>{{ app.client_traitement }}</td>
                  <td>

                    <input type="text" class="form-control"
                           id="app_libelle_{{ app.client_traitement }}" name="app_libelle_{{ app.client_traitement }}" value="{{ app.libelle }}">
                  </td>
                  <td>
                    <label for="acces">
                      <input id="app_acces_{{ app.client_traitement }}" name="app_acces_{{ app.client_traitement }}" type="checkbox" {% if app.acces %}checked{% endif %}>
                      Accessible
                    </label>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% for app in role_module.apps %}
            {% endfor %}
          {% endif %}

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>